@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-gray-900;
  }
  
  body {
    @apply bg-gray-50;
  }
  
  input, textarea, select {
    @apply text-gray-900;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Leaflet map custom styles */
.leaflet-container {
  width: 100%;
  height: 100%;
}

.custom-marker-icon {
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.2));
}
