{{- if .Values.postgres.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: {{ .Values.namespace }}
  annotations:
    # Tell ArgoCD to ignore differences in password to allow manual changes
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    argocd.argoproj.io/compare-options: IgnoreExtraneous
type: Opaque
data:
  {{- if .Values.postgres.password }}
  # Password provided in values.yaml (base64 encoded)
  password: {{ .Values.postgres.password | b64enc | quote }}
  {{- else }}
  # Default development password (base64 encoded: "crewup_dev_password")
  password: "Y3Jld3VwX2Rldl9wYXNzd29yZA=="
  {{- end }}
{{- end }}
