{{- if and .Values.postgres.enabled (not .Values.postgres.externalSecret) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: {{ .Values.namespace }}
type: Opaque
data:
  {{- if .Values.postgres.password }}
  # Password provided in values.yaml (base64 encoded)
  password: {{ .Values.postgres.password | b64enc | quote }}
  {{- else }}
  # Default development password (base64 encoded: "crewup_dev_password")
  password: "Y3Jld3VwX2Rldl9wYXNzd29yZA=="
  {{- end }}
{{- end }}
